.coffee-decor {
    display: inline-flex;
    position: relative;
    margin-bottom: 35px;

    @media only screen and (max-width: 1279px) {
        margin-bottom: 20px;
    }

    .footer & {
        left: 50%;
        transform: translateX(-50%);
    }

    &::after ,
    &::before {
        background-color: #fff;
        content: '';
        height: 1px;
        position: absolute;
        left: 65px;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
    }

    &::before {
        left: auto;
        right: 65px;
    }

    &.is-black {
        &::after ,
        &::before {
            background-color: #000;
        }
    }
}