.about {
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin: 80px auto 100px;
    padding: 0 20px;
    max-width: 590px;

    @media only screen and (max-width: 1279px) {
        margin: 60px auto;
    }

    &.is-image,
    &.is-detail {
        margin-bottom: 55px;
        position: relative;
        max-width: 710px;
        width: 710px;

        @media only screen and (max-width: 1279px) {
            margin: 60px auto;
            width: 100%;
        }

        @media only screen and (max-width: 767px) {
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        &::before {
            background-color: #000;
            bottom: -75px;
            content: '';
            height: 1px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 240px;

            @media only screen and (max-width: 1279px) {
                bottom: -50px;
            }
        }
    }

    &.is-detail {
        max-width: 810px;
        width: 810px;

        @media only screen and (max-width: 1279px) {
            max-width: none;
            width: 100%;
        }

        &::before {
            content: none;
        }
    }

    &__column {
        align-items: center;
        display: flex;
        flex-direction: column;

        &:last-child {
            min-width: 355px;

            @media only screen and (max-width: 1279px) {
                min-width: 270px;
            }
        }
    }

    &__picture {
        margin-right: 85px;

        @media only screen and (max-width: 767px) {
            margin: 0 0 30px;
        }

        .is-detail & {
            margin-right: 40px;

            @media only screen and (max-width: 767px) {
                margin: 0 0 30px;
                width: 100%;
            }
        }
    }

    &__descr {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
        text-align: center;

        @media only screen and (max-width: 767px) {
            font-size: 12px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}